body {
  font-family: 'Roboto', sans-serif;
}

.clearfix, .container, .container-fluid, .row {
  &:after {
    clear: both;
  }
  &:before, &:after {
    content: " ";
    display: table;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}

.relative-box {
  position: relative;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  //position: relative;
  @media (min-width: 768px) {
    & {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    & {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    & {
      width: 1170px;
    }
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
