// Margin all side - from 0 to 100
@for $i from 0 through 20 {
  .m-all-side-#{$i * 5} {
    margin: $i * 5px / 2 !important;
    @include respond-to(min-width, 768px) {
      margin: $i * 5px !important;
    }
  }
}
// end

// Margin top - from 0 to 100
@for $i from 0 through 20 {
  .mt-#{$i * 5} {
    margin-top: $i * 5px / 2 !important;
    @include respond-to(min-width, 768px) {
      margin-top: $i * 5px !important;
    }
  }
}

// Margin bottom - from 0 to 100
@for $i from 0 through 20 {
  .mb-#{$i * 5} {
    margin-bottom: $i * 5px / 2 !important;
    @include respond-to(min-width, 768px) {
      margin-bottom: $i * 5px !important;
    }
  }
}

// Margin vertical both - from 0 to 100
@for $i from 0 through 20 {
  .mtb-#{$i * 5} {
    margin-top: $i * 5px / 2 !important;
    margin-bottom: $i * 5px / 2 !important;
    @include respond-to(min-width, 768px) {
      margin-top: $i * 5px !important;
      margin-bottom: $i * 5px !important;
    }
  }
}
// end

// Margin horizontal both - from 0 to 100
@for $i from 0 through 20 {
  .mlr-#{$i * 5} {
    margin-left: $i * 5px / 2 !important;
    margin-right: $i * 5px / 2 !important;
    @include respond-to(min-width, 768px) {
      margin-left: $i * 5px !important;
      margin-right: $i * 5px !important;
    }
  }
}
// end

// Padding all side - from 0 to 100
@for $i from 0 through 20 {
  .p-all-side-#{$i * 5} {
    padding: $i * 5px / 2 !important;
    @include respond-to(min-width, 768px) {
      padding: $i * 5px !important;
    }
  }
}
// end


// Padding top - from 0 to 100
@for $i from 0 through 20 {
  .pt-#{$i * 5} {
    padding-top: $i * 5px / 2 !important;
    @include respond-to(min-width, 768px) {
      padding-top: $i * 5px !important;
    }
  }
}

// Padding bottom - from 0 to 100
@for $i from 0 through 20 {
  .pb-#{$i * 5} {
    padding-bottom: $i * 5px / 2 !important;
    @include respond-to(min-width, 768px) {
      padding-bottom: $i * 5px !important;
    }
  }
}

// Padding vertical both - from 0 to 100
@for $i from 0 through 20 {
  .ptb-#{$i * 5} {
    padding-top: $i * 5px / 2 !important;
    padding-bottom: $i * 5px / 2 !important;
    @include respond-to(min-width, 768px) {
      padding-top: $i * 5px !important;
      padding-bottom: $i * 5px !important;
    }
  }
}
// end

// Padding horizontal both - from 0 to 100
@for $i from 0 through 20 {
  .plr-#{$i * 5} {
    padding-left: $i * 5px / 2 !important;
    padding-right: $i * 5px / 2 !important;
    @include respond-to(min-width, 768px) {
      padding-left: $i * 5px !important;
      padding-right: $i * 5px !important;
    }
  }
}
// end
