.task-box {
  // width: 100%;
  overflow: hidden;
  height: 60px;
  @include border(1px, #d4d4d4);
  margin-bottom: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  &__left {
    @include border(2px, #d4d4d4, right);
    padding-left: 10px;
    padding-right: 10px;
  }
  &__right {
    padding-left: 10px;
    padding-right: 10px;
  }
  &.blue {
    @include border(3px, #0184c8, left);
  }
  &.green {
    @include border(3px, #81be4b, left);
  }
  &__title {
    color: #242020;
    margin-top: 3px;
  }
  &__target {
    color: #a7a6a1;
  }
  &__day {
    color: #444;
  }
  // & {
  //   @media (min-width: 992px) {
  //     width: 33.33333333%;
  //     float: left;
  //     margin-left: 15px;
  //     margin-right: 15px;
  //   }
  // }
}
