#calendar {
  background-color: white;
  @include border(1px, #d4d4d4);
  margin-bottom: 15px;
  min-height: 135px;
  .label {
    background-color: #ff6425;
    color: white;
    padding: 10px 15px;
    text-align: center;
  }
  .contents {
    padding: 15px;
  }
}

.calendar-section {
  .col {
    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: 992px) {
      width: 33.33333333%;
      float: left;
    }
  }
}
