.task-box {
  // width: 100%;
  @include border(1px, #d4d4d4);
  padding: 10px;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  &.blue {
    @include border(3px, #0184c8, left);
  }
  &.green {
    @include border(3px, #81be4b, left);
  }
  &__title {
    color: #242020;
  }
  &__target {
    color: #a7a6a1;
  }
}
