.m-all-side-0 {
  margin: 0px !important; }
  @media (min-width: 768px) {
    .m-all-side-0 {
      margin: 0px !important; } }

.m-all-side-5 {
  margin: 2.5px !important; }
  @media (min-width: 768px) {
    .m-all-side-5 {
      margin: 5px !important; } }

.m-all-side-10 {
  margin: 5px !important; }
  @media (min-width: 768px) {
    .m-all-side-10 {
      margin: 10px !important; } }

.m-all-side-15 {
  margin: 7.5px !important; }
  @media (min-width: 768px) {
    .m-all-side-15 {
      margin: 15px !important; } }

.m-all-side-20 {
  margin: 10px !important; }
  @media (min-width: 768px) {
    .m-all-side-20 {
      margin: 20px !important; } }

.m-all-side-25 {
  margin: 12.5px !important; }
  @media (min-width: 768px) {
    .m-all-side-25 {
      margin: 25px !important; } }

.m-all-side-30 {
  margin: 15px !important; }
  @media (min-width: 768px) {
    .m-all-side-30 {
      margin: 30px !important; } }

.m-all-side-35 {
  margin: 17.5px !important; }
  @media (min-width: 768px) {
    .m-all-side-35 {
      margin: 35px !important; } }

.m-all-side-40 {
  margin: 20px !important; }
  @media (min-width: 768px) {
    .m-all-side-40 {
      margin: 40px !important; } }

.m-all-side-45 {
  margin: 22.5px !important; }
  @media (min-width: 768px) {
    .m-all-side-45 {
      margin: 45px !important; } }

.m-all-side-50 {
  margin: 25px !important; }
  @media (min-width: 768px) {
    .m-all-side-50 {
      margin: 50px !important; } }

.m-all-side-55 {
  margin: 27.5px !important; }
  @media (min-width: 768px) {
    .m-all-side-55 {
      margin: 55px !important; } }

.m-all-side-60 {
  margin: 30px !important; }
  @media (min-width: 768px) {
    .m-all-side-60 {
      margin: 60px !important; } }

.m-all-side-65 {
  margin: 32.5px !important; }
  @media (min-width: 768px) {
    .m-all-side-65 {
      margin: 65px !important; } }

.m-all-side-70 {
  margin: 35px !important; }
  @media (min-width: 768px) {
    .m-all-side-70 {
      margin: 70px !important; } }

.m-all-side-75 {
  margin: 37.5px !important; }
  @media (min-width: 768px) {
    .m-all-side-75 {
      margin: 75px !important; } }

.m-all-side-80 {
  margin: 40px !important; }
  @media (min-width: 768px) {
    .m-all-side-80 {
      margin: 80px !important; } }

.m-all-side-85 {
  margin: 42.5px !important; }
  @media (min-width: 768px) {
    .m-all-side-85 {
      margin: 85px !important; } }

.m-all-side-90 {
  margin: 45px !important; }
  @media (min-width: 768px) {
    .m-all-side-90 {
      margin: 90px !important; } }

.m-all-side-95 {
  margin: 47.5px !important; }
  @media (min-width: 768px) {
    .m-all-side-95 {
      margin: 95px !important; } }

.m-all-side-100 {
  margin: 50px !important; }
  @media (min-width: 768px) {
    .m-all-side-100 {
      margin: 100px !important; } }

.mt-0 {
  margin-top: 0px !important; }
  @media (min-width: 768px) {
    .mt-0 {
      margin-top: 0px !important; } }

.mt-5 {
  margin-top: 2.5px !important; }
  @media (min-width: 768px) {
    .mt-5 {
      margin-top: 5px !important; } }

.mt-10 {
  margin-top: 5px !important; }
  @media (min-width: 768px) {
    .mt-10 {
      margin-top: 10px !important; } }

.mt-15 {
  margin-top: 7.5px !important; }
  @media (min-width: 768px) {
    .mt-15 {
      margin-top: 15px !important; } }

.mt-20 {
  margin-top: 10px !important; }
  @media (min-width: 768px) {
    .mt-20 {
      margin-top: 20px !important; } }

.mt-25 {
  margin-top: 12.5px !important; }
  @media (min-width: 768px) {
    .mt-25 {
      margin-top: 25px !important; } }

.mt-30 {
  margin-top: 15px !important; }
  @media (min-width: 768px) {
    .mt-30 {
      margin-top: 30px !important; } }

.mt-35 {
  margin-top: 17.5px !important; }
  @media (min-width: 768px) {
    .mt-35 {
      margin-top: 35px !important; } }

.mt-40 {
  margin-top: 20px !important; }
  @media (min-width: 768px) {
    .mt-40 {
      margin-top: 40px !important; } }

.mt-45 {
  margin-top: 22.5px !important; }
  @media (min-width: 768px) {
    .mt-45 {
      margin-top: 45px !important; } }

.mt-50 {
  margin-top: 25px !important; }
  @media (min-width: 768px) {
    .mt-50 {
      margin-top: 50px !important; } }

.mt-55 {
  margin-top: 27.5px !important; }
  @media (min-width: 768px) {
    .mt-55 {
      margin-top: 55px !important; } }

.mt-60 {
  margin-top: 30px !important; }
  @media (min-width: 768px) {
    .mt-60 {
      margin-top: 60px !important; } }

.mt-65 {
  margin-top: 32.5px !important; }
  @media (min-width: 768px) {
    .mt-65 {
      margin-top: 65px !important; } }

.mt-70 {
  margin-top: 35px !important; }
  @media (min-width: 768px) {
    .mt-70 {
      margin-top: 70px !important; } }

.mt-75 {
  margin-top: 37.5px !important; }
  @media (min-width: 768px) {
    .mt-75 {
      margin-top: 75px !important; } }

.mt-80 {
  margin-top: 40px !important; }
  @media (min-width: 768px) {
    .mt-80 {
      margin-top: 80px !important; } }

.mt-85 {
  margin-top: 42.5px !important; }
  @media (min-width: 768px) {
    .mt-85 {
      margin-top: 85px !important; } }

.mt-90 {
  margin-top: 45px !important; }
  @media (min-width: 768px) {
    .mt-90 {
      margin-top: 90px !important; } }

.mt-95 {
  margin-top: 47.5px !important; }
  @media (min-width: 768px) {
    .mt-95 {
      margin-top: 95px !important; } }

.mt-100 {
  margin-top: 50px !important; }
  @media (min-width: 768px) {
    .mt-100 {
      margin-top: 100px !important; } }

.mb-0 {
  margin-bottom: 0px !important; }
  @media (min-width: 768px) {
    .mb-0 {
      margin-bottom: 0px !important; } }

.mb-5 {
  margin-bottom: 2.5px !important; }
  @media (min-width: 768px) {
    .mb-5 {
      margin-bottom: 5px !important; } }

.mb-10 {
  margin-bottom: 5px !important; }
  @media (min-width: 768px) {
    .mb-10 {
      margin-bottom: 10px !important; } }

.mb-15 {
  margin-bottom: 7.5px !important; }
  @media (min-width: 768px) {
    .mb-15 {
      margin-bottom: 15px !important; } }

.mb-20 {
  margin-bottom: 10px !important; }
  @media (min-width: 768px) {
    .mb-20 {
      margin-bottom: 20px !important; } }

.mb-25 {
  margin-bottom: 12.5px !important; }
  @media (min-width: 768px) {
    .mb-25 {
      margin-bottom: 25px !important; } }

.mb-30 {
  margin-bottom: 15px !important; }
  @media (min-width: 768px) {
    .mb-30 {
      margin-bottom: 30px !important; } }

.mb-35 {
  margin-bottom: 17.5px !important; }
  @media (min-width: 768px) {
    .mb-35 {
      margin-bottom: 35px !important; } }

.mb-40 {
  margin-bottom: 20px !important; }
  @media (min-width: 768px) {
    .mb-40 {
      margin-bottom: 40px !important; } }

.mb-45 {
  margin-bottom: 22.5px !important; }
  @media (min-width: 768px) {
    .mb-45 {
      margin-bottom: 45px !important; } }

.mb-50 {
  margin-bottom: 25px !important; }
  @media (min-width: 768px) {
    .mb-50 {
      margin-bottom: 50px !important; } }

.mb-55 {
  margin-bottom: 27.5px !important; }
  @media (min-width: 768px) {
    .mb-55 {
      margin-bottom: 55px !important; } }

.mb-60 {
  margin-bottom: 30px !important; }
  @media (min-width: 768px) {
    .mb-60 {
      margin-bottom: 60px !important; } }

.mb-65 {
  margin-bottom: 32.5px !important; }
  @media (min-width: 768px) {
    .mb-65 {
      margin-bottom: 65px !important; } }

.mb-70 {
  margin-bottom: 35px !important; }
  @media (min-width: 768px) {
    .mb-70 {
      margin-bottom: 70px !important; } }

.mb-75 {
  margin-bottom: 37.5px !important; }
  @media (min-width: 768px) {
    .mb-75 {
      margin-bottom: 75px !important; } }

.mb-80 {
  margin-bottom: 40px !important; }
  @media (min-width: 768px) {
    .mb-80 {
      margin-bottom: 80px !important; } }

.mb-85 {
  margin-bottom: 42.5px !important; }
  @media (min-width: 768px) {
    .mb-85 {
      margin-bottom: 85px !important; } }

.mb-90 {
  margin-bottom: 45px !important; }
  @media (min-width: 768px) {
    .mb-90 {
      margin-bottom: 90px !important; } }

.mb-95 {
  margin-bottom: 47.5px !important; }
  @media (min-width: 768px) {
    .mb-95 {
      margin-bottom: 95px !important; } }

.mb-100 {
  margin-bottom: 50px !important; }
  @media (min-width: 768px) {
    .mb-100 {
      margin-bottom: 100px !important; } }

.mtb-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important; }
  @media (min-width: 768px) {
    .mtb-0 {
      margin-top: 0px !important;
      margin-bottom: 0px !important; } }

.mtb-5 {
  margin-top: 2.5px !important;
  margin-bottom: 2.5px !important; }
  @media (min-width: 768px) {
    .mtb-5 {
      margin-top: 5px !important;
      margin-bottom: 5px !important; } }

.mtb-10 {
  margin-top: 5px !important;
  margin-bottom: 5px !important; }
  @media (min-width: 768px) {
    .mtb-10 {
      margin-top: 10px !important;
      margin-bottom: 10px !important; } }

.mtb-15 {
  margin-top: 7.5px !important;
  margin-bottom: 7.5px !important; }
  @media (min-width: 768px) {
    .mtb-15 {
      margin-top: 15px !important;
      margin-bottom: 15px !important; } }

.mtb-20 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }
  @media (min-width: 768px) {
    .mtb-20 {
      margin-top: 20px !important;
      margin-bottom: 20px !important; } }

.mtb-25 {
  margin-top: 12.5px !important;
  margin-bottom: 12.5px !important; }
  @media (min-width: 768px) {
    .mtb-25 {
      margin-top: 25px !important;
      margin-bottom: 25px !important; } }

.mtb-30 {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }
  @media (min-width: 768px) {
    .mtb-30 {
      margin-top: 30px !important;
      margin-bottom: 30px !important; } }

.mtb-35 {
  margin-top: 17.5px !important;
  margin-bottom: 17.5px !important; }
  @media (min-width: 768px) {
    .mtb-35 {
      margin-top: 35px !important;
      margin-bottom: 35px !important; } }

.mtb-40 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }
  @media (min-width: 768px) {
    .mtb-40 {
      margin-top: 40px !important;
      margin-bottom: 40px !important; } }

.mtb-45 {
  margin-top: 22.5px !important;
  margin-bottom: 22.5px !important; }
  @media (min-width: 768px) {
    .mtb-45 {
      margin-top: 45px !important;
      margin-bottom: 45px !important; } }

.mtb-50 {
  margin-top: 25px !important;
  margin-bottom: 25px !important; }
  @media (min-width: 768px) {
    .mtb-50 {
      margin-top: 50px !important;
      margin-bottom: 50px !important; } }

.mtb-55 {
  margin-top: 27.5px !important;
  margin-bottom: 27.5px !important; }
  @media (min-width: 768px) {
    .mtb-55 {
      margin-top: 55px !important;
      margin-bottom: 55px !important; } }

.mtb-60 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }
  @media (min-width: 768px) {
    .mtb-60 {
      margin-top: 60px !important;
      margin-bottom: 60px !important; } }

.mtb-65 {
  margin-top: 32.5px !important;
  margin-bottom: 32.5px !important; }
  @media (min-width: 768px) {
    .mtb-65 {
      margin-top: 65px !important;
      margin-bottom: 65px !important; } }

.mtb-70 {
  margin-top: 35px !important;
  margin-bottom: 35px !important; }
  @media (min-width: 768px) {
    .mtb-70 {
      margin-top: 70px !important;
      margin-bottom: 70px !important; } }

.mtb-75 {
  margin-top: 37.5px !important;
  margin-bottom: 37.5px !important; }
  @media (min-width: 768px) {
    .mtb-75 {
      margin-top: 75px !important;
      margin-bottom: 75px !important; } }

.mtb-80 {
  margin-top: 40px !important;
  margin-bottom: 40px !important; }
  @media (min-width: 768px) {
    .mtb-80 {
      margin-top: 80px !important;
      margin-bottom: 80px !important; } }

.mtb-85 {
  margin-top: 42.5px !important;
  margin-bottom: 42.5px !important; }
  @media (min-width: 768px) {
    .mtb-85 {
      margin-top: 85px !important;
      margin-bottom: 85px !important; } }

.mtb-90 {
  margin-top: 45px !important;
  margin-bottom: 45px !important; }
  @media (min-width: 768px) {
    .mtb-90 {
      margin-top: 90px !important;
      margin-bottom: 90px !important; } }

.mtb-95 {
  margin-top: 47.5px !important;
  margin-bottom: 47.5px !important; }
  @media (min-width: 768px) {
    .mtb-95 {
      margin-top: 95px !important;
      margin-bottom: 95px !important; } }

.mtb-100 {
  margin-top: 50px !important;
  margin-bottom: 50px !important; }
  @media (min-width: 768px) {
    .mtb-100 {
      margin-top: 100px !important;
      margin-bottom: 100px !important; } }

.mlr-0 {
  margin-left: 0px !important;
  margin-right: 0px !important; }
  @media (min-width: 768px) {
    .mlr-0 {
      margin-left: 0px !important;
      margin-right: 0px !important; } }

.mlr-5 {
  margin-left: 2.5px !important;
  margin-right: 2.5px !important; }
  @media (min-width: 768px) {
    .mlr-5 {
      margin-left: 5px !important;
      margin-right: 5px !important; } }

.mlr-10 {
  margin-left: 5px !important;
  margin-right: 5px !important; }
  @media (min-width: 768px) {
    .mlr-10 {
      margin-left: 10px !important;
      margin-right: 10px !important; } }

.mlr-15 {
  margin-left: 7.5px !important;
  margin-right: 7.5px !important; }
  @media (min-width: 768px) {
    .mlr-15 {
      margin-left: 15px !important;
      margin-right: 15px !important; } }

.mlr-20 {
  margin-left: 10px !important;
  margin-right: 10px !important; }
  @media (min-width: 768px) {
    .mlr-20 {
      margin-left: 20px !important;
      margin-right: 20px !important; } }

.mlr-25 {
  margin-left: 12.5px !important;
  margin-right: 12.5px !important; }
  @media (min-width: 768px) {
    .mlr-25 {
      margin-left: 25px !important;
      margin-right: 25px !important; } }

.mlr-30 {
  margin-left: 15px !important;
  margin-right: 15px !important; }
  @media (min-width: 768px) {
    .mlr-30 {
      margin-left: 30px !important;
      margin-right: 30px !important; } }

.mlr-35 {
  margin-left: 17.5px !important;
  margin-right: 17.5px !important; }
  @media (min-width: 768px) {
    .mlr-35 {
      margin-left: 35px !important;
      margin-right: 35px !important; } }

.mlr-40 {
  margin-left: 20px !important;
  margin-right: 20px !important; }
  @media (min-width: 768px) {
    .mlr-40 {
      margin-left: 40px !important;
      margin-right: 40px !important; } }

.mlr-45 {
  margin-left: 22.5px !important;
  margin-right: 22.5px !important; }
  @media (min-width: 768px) {
    .mlr-45 {
      margin-left: 45px !important;
      margin-right: 45px !important; } }

.mlr-50 {
  margin-left: 25px !important;
  margin-right: 25px !important; }
  @media (min-width: 768px) {
    .mlr-50 {
      margin-left: 50px !important;
      margin-right: 50px !important; } }

.mlr-55 {
  margin-left: 27.5px !important;
  margin-right: 27.5px !important; }
  @media (min-width: 768px) {
    .mlr-55 {
      margin-left: 55px !important;
      margin-right: 55px !important; } }

.mlr-60 {
  margin-left: 30px !important;
  margin-right: 30px !important; }
  @media (min-width: 768px) {
    .mlr-60 {
      margin-left: 60px !important;
      margin-right: 60px !important; } }

.mlr-65 {
  margin-left: 32.5px !important;
  margin-right: 32.5px !important; }
  @media (min-width: 768px) {
    .mlr-65 {
      margin-left: 65px !important;
      margin-right: 65px !important; } }

.mlr-70 {
  margin-left: 35px !important;
  margin-right: 35px !important; }
  @media (min-width: 768px) {
    .mlr-70 {
      margin-left: 70px !important;
      margin-right: 70px !important; } }

.mlr-75 {
  margin-left: 37.5px !important;
  margin-right: 37.5px !important; }
  @media (min-width: 768px) {
    .mlr-75 {
      margin-left: 75px !important;
      margin-right: 75px !important; } }

.mlr-80 {
  margin-left: 40px !important;
  margin-right: 40px !important; }
  @media (min-width: 768px) {
    .mlr-80 {
      margin-left: 80px !important;
      margin-right: 80px !important; } }

.mlr-85 {
  margin-left: 42.5px !important;
  margin-right: 42.5px !important; }
  @media (min-width: 768px) {
    .mlr-85 {
      margin-left: 85px !important;
      margin-right: 85px !important; } }

.mlr-90 {
  margin-left: 45px !important;
  margin-right: 45px !important; }
  @media (min-width: 768px) {
    .mlr-90 {
      margin-left: 90px !important;
      margin-right: 90px !important; } }

.mlr-95 {
  margin-left: 47.5px !important;
  margin-right: 47.5px !important; }
  @media (min-width: 768px) {
    .mlr-95 {
      margin-left: 95px !important;
      margin-right: 95px !important; } }

.mlr-100 {
  margin-left: 50px !important;
  margin-right: 50px !important; }
  @media (min-width: 768px) {
    .mlr-100 {
      margin-left: 100px !important;
      margin-right: 100px !important; } }

.p-all-side-0 {
  padding: 0px !important; }
  @media (min-width: 768px) {
    .p-all-side-0 {
      padding: 0px !important; } }

.p-all-side-5 {
  padding: 2.5px !important; }
  @media (min-width: 768px) {
    .p-all-side-5 {
      padding: 5px !important; } }

.p-all-side-10 {
  padding: 5px !important; }
  @media (min-width: 768px) {
    .p-all-side-10 {
      padding: 10px !important; } }

.p-all-side-15 {
  padding: 7.5px !important; }
  @media (min-width: 768px) {
    .p-all-side-15 {
      padding: 15px !important; } }

.p-all-side-20 {
  padding: 10px !important; }
  @media (min-width: 768px) {
    .p-all-side-20 {
      padding: 20px !important; } }

.p-all-side-25 {
  padding: 12.5px !important; }
  @media (min-width: 768px) {
    .p-all-side-25 {
      padding: 25px !important; } }

.p-all-side-30 {
  padding: 15px !important; }
  @media (min-width: 768px) {
    .p-all-side-30 {
      padding: 30px !important; } }

.p-all-side-35 {
  padding: 17.5px !important; }
  @media (min-width: 768px) {
    .p-all-side-35 {
      padding: 35px !important; } }

.p-all-side-40 {
  padding: 20px !important; }
  @media (min-width: 768px) {
    .p-all-side-40 {
      padding: 40px !important; } }

.p-all-side-45 {
  padding: 22.5px !important; }
  @media (min-width: 768px) {
    .p-all-side-45 {
      padding: 45px !important; } }

.p-all-side-50 {
  padding: 25px !important; }
  @media (min-width: 768px) {
    .p-all-side-50 {
      padding: 50px !important; } }

.p-all-side-55 {
  padding: 27.5px !important; }
  @media (min-width: 768px) {
    .p-all-side-55 {
      padding: 55px !important; } }

.p-all-side-60 {
  padding: 30px !important; }
  @media (min-width: 768px) {
    .p-all-side-60 {
      padding: 60px !important; } }

.p-all-side-65 {
  padding: 32.5px !important; }
  @media (min-width: 768px) {
    .p-all-side-65 {
      padding: 65px !important; } }

.p-all-side-70 {
  padding: 35px !important; }
  @media (min-width: 768px) {
    .p-all-side-70 {
      padding: 70px !important; } }

.p-all-side-75 {
  padding: 37.5px !important; }
  @media (min-width: 768px) {
    .p-all-side-75 {
      padding: 75px !important; } }

.p-all-side-80 {
  padding: 40px !important; }
  @media (min-width: 768px) {
    .p-all-side-80 {
      padding: 80px !important; } }

.p-all-side-85 {
  padding: 42.5px !important; }
  @media (min-width: 768px) {
    .p-all-side-85 {
      padding: 85px !important; } }

.p-all-side-90 {
  padding: 45px !important; }
  @media (min-width: 768px) {
    .p-all-side-90 {
      padding: 90px !important; } }

.p-all-side-95 {
  padding: 47.5px !important; }
  @media (min-width: 768px) {
    .p-all-side-95 {
      padding: 95px !important; } }

.p-all-side-100 {
  padding: 50px !important; }
  @media (min-width: 768px) {
    .p-all-side-100 {
      padding: 100px !important; } }

.pt-0 {
  padding-top: 0px !important; }
  @media (min-width: 768px) {
    .pt-0 {
      padding-top: 0px !important; } }

.pt-5 {
  padding-top: 2.5px !important; }
  @media (min-width: 768px) {
    .pt-5 {
      padding-top: 5px !important; } }

.pt-10 {
  padding-top: 5px !important; }
  @media (min-width: 768px) {
    .pt-10 {
      padding-top: 10px !important; } }

.pt-15 {
  padding-top: 7.5px !important; }
  @media (min-width: 768px) {
    .pt-15 {
      padding-top: 15px !important; } }

.pt-20 {
  padding-top: 10px !important; }
  @media (min-width: 768px) {
    .pt-20 {
      padding-top: 20px !important; } }

.pt-25 {
  padding-top: 12.5px !important; }
  @media (min-width: 768px) {
    .pt-25 {
      padding-top: 25px !important; } }

.pt-30 {
  padding-top: 15px !important; }
  @media (min-width: 768px) {
    .pt-30 {
      padding-top: 30px !important; } }

.pt-35 {
  padding-top: 17.5px !important; }
  @media (min-width: 768px) {
    .pt-35 {
      padding-top: 35px !important; } }

.pt-40 {
  padding-top: 20px !important; }
  @media (min-width: 768px) {
    .pt-40 {
      padding-top: 40px !important; } }

.pt-45 {
  padding-top: 22.5px !important; }
  @media (min-width: 768px) {
    .pt-45 {
      padding-top: 45px !important; } }

.pt-50 {
  padding-top: 25px !important; }
  @media (min-width: 768px) {
    .pt-50 {
      padding-top: 50px !important; } }

.pt-55 {
  padding-top: 27.5px !important; }
  @media (min-width: 768px) {
    .pt-55 {
      padding-top: 55px !important; } }

.pt-60 {
  padding-top: 30px !important; }
  @media (min-width: 768px) {
    .pt-60 {
      padding-top: 60px !important; } }

.pt-65 {
  padding-top: 32.5px !important; }
  @media (min-width: 768px) {
    .pt-65 {
      padding-top: 65px !important; } }

.pt-70 {
  padding-top: 35px !important; }
  @media (min-width: 768px) {
    .pt-70 {
      padding-top: 70px !important; } }

.pt-75 {
  padding-top: 37.5px !important; }
  @media (min-width: 768px) {
    .pt-75 {
      padding-top: 75px !important; } }

.pt-80 {
  padding-top: 40px !important; }
  @media (min-width: 768px) {
    .pt-80 {
      padding-top: 80px !important; } }

.pt-85 {
  padding-top: 42.5px !important; }
  @media (min-width: 768px) {
    .pt-85 {
      padding-top: 85px !important; } }

.pt-90 {
  padding-top: 45px !important; }
  @media (min-width: 768px) {
    .pt-90 {
      padding-top: 90px !important; } }

.pt-95 {
  padding-top: 47.5px !important; }
  @media (min-width: 768px) {
    .pt-95 {
      padding-top: 95px !important; } }

.pt-100 {
  padding-top: 50px !important; }
  @media (min-width: 768px) {
    .pt-100 {
      padding-top: 100px !important; } }

.pb-0 {
  padding-bottom: 0px !important; }
  @media (min-width: 768px) {
    .pb-0 {
      padding-bottom: 0px !important; } }

.pb-5 {
  padding-bottom: 2.5px !important; }
  @media (min-width: 768px) {
    .pb-5 {
      padding-bottom: 5px !important; } }

.pb-10 {
  padding-bottom: 5px !important; }
  @media (min-width: 768px) {
    .pb-10 {
      padding-bottom: 10px !important; } }

.pb-15 {
  padding-bottom: 7.5px !important; }
  @media (min-width: 768px) {
    .pb-15 {
      padding-bottom: 15px !important; } }

.pb-20 {
  padding-bottom: 10px !important; }
  @media (min-width: 768px) {
    .pb-20 {
      padding-bottom: 20px !important; } }

.pb-25 {
  padding-bottom: 12.5px !important; }
  @media (min-width: 768px) {
    .pb-25 {
      padding-bottom: 25px !important; } }

.pb-30 {
  padding-bottom: 15px !important; }
  @media (min-width: 768px) {
    .pb-30 {
      padding-bottom: 30px !important; } }

.pb-35 {
  padding-bottom: 17.5px !important; }
  @media (min-width: 768px) {
    .pb-35 {
      padding-bottom: 35px !important; } }

.pb-40 {
  padding-bottom: 20px !important; }
  @media (min-width: 768px) {
    .pb-40 {
      padding-bottom: 40px !important; } }

.pb-45 {
  padding-bottom: 22.5px !important; }
  @media (min-width: 768px) {
    .pb-45 {
      padding-bottom: 45px !important; } }

.pb-50 {
  padding-bottom: 25px !important; }
  @media (min-width: 768px) {
    .pb-50 {
      padding-bottom: 50px !important; } }

.pb-55 {
  padding-bottom: 27.5px !important; }
  @media (min-width: 768px) {
    .pb-55 {
      padding-bottom: 55px !important; } }

.pb-60 {
  padding-bottom: 30px !important; }
  @media (min-width: 768px) {
    .pb-60 {
      padding-bottom: 60px !important; } }

.pb-65 {
  padding-bottom: 32.5px !important; }
  @media (min-width: 768px) {
    .pb-65 {
      padding-bottom: 65px !important; } }

.pb-70 {
  padding-bottom: 35px !important; }
  @media (min-width: 768px) {
    .pb-70 {
      padding-bottom: 70px !important; } }

.pb-75 {
  padding-bottom: 37.5px !important; }
  @media (min-width: 768px) {
    .pb-75 {
      padding-bottom: 75px !important; } }

.pb-80 {
  padding-bottom: 40px !important; }
  @media (min-width: 768px) {
    .pb-80 {
      padding-bottom: 80px !important; } }

.pb-85 {
  padding-bottom: 42.5px !important; }
  @media (min-width: 768px) {
    .pb-85 {
      padding-bottom: 85px !important; } }

.pb-90 {
  padding-bottom: 45px !important; }
  @media (min-width: 768px) {
    .pb-90 {
      padding-bottom: 90px !important; } }

.pb-95 {
  padding-bottom: 47.5px !important; }
  @media (min-width: 768px) {
    .pb-95 {
      padding-bottom: 95px !important; } }

.pb-100 {
  padding-bottom: 50px !important; }
  @media (min-width: 768px) {
    .pb-100 {
      padding-bottom: 100px !important; } }

.ptb-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }
  @media (min-width: 768px) {
    .ptb-0 {
      padding-top: 0px !important;
      padding-bottom: 0px !important; } }

.ptb-5 {
  padding-top: 2.5px !important;
  padding-bottom: 2.5px !important; }
  @media (min-width: 768px) {
    .ptb-5 {
      padding-top: 5px !important;
      padding-bottom: 5px !important; } }

.ptb-10 {
  padding-top: 5px !important;
  padding-bottom: 5px !important; }
  @media (min-width: 768px) {
    .ptb-10 {
      padding-top: 10px !important;
      padding-bottom: 10px !important; } }

.ptb-15 {
  padding-top: 7.5px !important;
  padding-bottom: 7.5px !important; }
  @media (min-width: 768px) {
    .ptb-15 {
      padding-top: 15px !important;
      padding-bottom: 15px !important; } }

.ptb-20 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }
  @media (min-width: 768px) {
    .ptb-20 {
      padding-top: 20px !important;
      padding-bottom: 20px !important; } }

.ptb-25 {
  padding-top: 12.5px !important;
  padding-bottom: 12.5px !important; }
  @media (min-width: 768px) {
    .ptb-25 {
      padding-top: 25px !important;
      padding-bottom: 25px !important; } }

.ptb-30 {
  padding-top: 15px !important;
  padding-bottom: 15px !important; }
  @media (min-width: 768px) {
    .ptb-30 {
      padding-top: 30px !important;
      padding-bottom: 30px !important; } }

.ptb-35 {
  padding-top: 17.5px !important;
  padding-bottom: 17.5px !important; }
  @media (min-width: 768px) {
    .ptb-35 {
      padding-top: 35px !important;
      padding-bottom: 35px !important; } }

.ptb-40 {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }
  @media (min-width: 768px) {
    .ptb-40 {
      padding-top: 40px !important;
      padding-bottom: 40px !important; } }

.ptb-45 {
  padding-top: 22.5px !important;
  padding-bottom: 22.5px !important; }
  @media (min-width: 768px) {
    .ptb-45 {
      padding-top: 45px !important;
      padding-bottom: 45px !important; } }

.ptb-50 {
  padding-top: 25px !important;
  padding-bottom: 25px !important; }
  @media (min-width: 768px) {
    .ptb-50 {
      padding-top: 50px !important;
      padding-bottom: 50px !important; } }

.ptb-55 {
  padding-top: 27.5px !important;
  padding-bottom: 27.5px !important; }
  @media (min-width: 768px) {
    .ptb-55 {
      padding-top: 55px !important;
      padding-bottom: 55px !important; } }

.ptb-60 {
  padding-top: 30px !important;
  padding-bottom: 30px !important; }
  @media (min-width: 768px) {
    .ptb-60 {
      padding-top: 60px !important;
      padding-bottom: 60px !important; } }

.ptb-65 {
  padding-top: 32.5px !important;
  padding-bottom: 32.5px !important; }
  @media (min-width: 768px) {
    .ptb-65 {
      padding-top: 65px !important;
      padding-bottom: 65px !important; } }

.ptb-70 {
  padding-top: 35px !important;
  padding-bottom: 35px !important; }
  @media (min-width: 768px) {
    .ptb-70 {
      padding-top: 70px !important;
      padding-bottom: 70px !important; } }

.ptb-75 {
  padding-top: 37.5px !important;
  padding-bottom: 37.5px !important; }
  @media (min-width: 768px) {
    .ptb-75 {
      padding-top: 75px !important;
      padding-bottom: 75px !important; } }

.ptb-80 {
  padding-top: 40px !important;
  padding-bottom: 40px !important; }
  @media (min-width: 768px) {
    .ptb-80 {
      padding-top: 80px !important;
      padding-bottom: 80px !important; } }

.ptb-85 {
  padding-top: 42.5px !important;
  padding-bottom: 42.5px !important; }
  @media (min-width: 768px) {
    .ptb-85 {
      padding-top: 85px !important;
      padding-bottom: 85px !important; } }

.ptb-90 {
  padding-top: 45px !important;
  padding-bottom: 45px !important; }
  @media (min-width: 768px) {
    .ptb-90 {
      padding-top: 90px !important;
      padding-bottom: 90px !important; } }

.ptb-95 {
  padding-top: 47.5px !important;
  padding-bottom: 47.5px !important; }
  @media (min-width: 768px) {
    .ptb-95 {
      padding-top: 95px !important;
      padding-bottom: 95px !important; } }

.ptb-100 {
  padding-top: 50px !important;
  padding-bottom: 50px !important; }
  @media (min-width: 768px) {
    .ptb-100 {
      padding-top: 100px !important;
      padding-bottom: 100px !important; } }

.plr-0 {
  padding-left: 0px !important;
  padding-right: 0px !important; }
  @media (min-width: 768px) {
    .plr-0 {
      padding-left: 0px !important;
      padding-right: 0px !important; } }

.plr-5 {
  padding-left: 2.5px !important;
  padding-right: 2.5px !important; }
  @media (min-width: 768px) {
    .plr-5 {
      padding-left: 5px !important;
      padding-right: 5px !important; } }

.plr-10 {
  padding-left: 5px !important;
  padding-right: 5px !important; }
  @media (min-width: 768px) {
    .plr-10 {
      padding-left: 10px !important;
      padding-right: 10px !important; } }

.plr-15 {
  padding-left: 7.5px !important;
  padding-right: 7.5px !important; }
  @media (min-width: 768px) {
    .plr-15 {
      padding-left: 15px !important;
      padding-right: 15px !important; } }

.plr-20 {
  padding-left: 10px !important;
  padding-right: 10px !important; }
  @media (min-width: 768px) {
    .plr-20 {
      padding-left: 20px !important;
      padding-right: 20px !important; } }

.plr-25 {
  padding-left: 12.5px !important;
  padding-right: 12.5px !important; }
  @media (min-width: 768px) {
    .plr-25 {
      padding-left: 25px !important;
      padding-right: 25px !important; } }

.plr-30 {
  padding-left: 15px !important;
  padding-right: 15px !important; }
  @media (min-width: 768px) {
    .plr-30 {
      padding-left: 30px !important;
      padding-right: 30px !important; } }

.plr-35 {
  padding-left: 17.5px !important;
  padding-right: 17.5px !important; }
  @media (min-width: 768px) {
    .plr-35 {
      padding-left: 35px !important;
      padding-right: 35px !important; } }

.plr-40 {
  padding-left: 20px !important;
  padding-right: 20px !important; }
  @media (min-width: 768px) {
    .plr-40 {
      padding-left: 40px !important;
      padding-right: 40px !important; } }

.plr-45 {
  padding-left: 22.5px !important;
  padding-right: 22.5px !important; }
  @media (min-width: 768px) {
    .plr-45 {
      padding-left: 45px !important;
      padding-right: 45px !important; } }

.plr-50 {
  padding-left: 25px !important;
  padding-right: 25px !important; }
  @media (min-width: 768px) {
    .plr-50 {
      padding-left: 50px !important;
      padding-right: 50px !important; } }

.plr-55 {
  padding-left: 27.5px !important;
  padding-right: 27.5px !important; }
  @media (min-width: 768px) {
    .plr-55 {
      padding-left: 55px !important;
      padding-right: 55px !important; } }

.plr-60 {
  padding-left: 30px !important;
  padding-right: 30px !important; }
  @media (min-width: 768px) {
    .plr-60 {
      padding-left: 60px !important;
      padding-right: 60px !important; } }

.plr-65 {
  padding-left: 32.5px !important;
  padding-right: 32.5px !important; }
  @media (min-width: 768px) {
    .plr-65 {
      padding-left: 65px !important;
      padding-right: 65px !important; } }

.plr-70 {
  padding-left: 35px !important;
  padding-right: 35px !important; }
  @media (min-width: 768px) {
    .plr-70 {
      padding-left: 70px !important;
      padding-right: 70px !important; } }

.plr-75 {
  padding-left: 37.5px !important;
  padding-right: 37.5px !important; }
  @media (min-width: 768px) {
    .plr-75 {
      padding-left: 75px !important;
      padding-right: 75px !important; } }

.plr-80 {
  padding-left: 40px !important;
  padding-right: 40px !important; }
  @media (min-width: 768px) {
    .plr-80 {
      padding-left: 80px !important;
      padding-right: 80px !important; } }

.plr-85 {
  padding-left: 42.5px !important;
  padding-right: 42.5px !important; }
  @media (min-width: 768px) {
    .plr-85 {
      padding-left: 85px !important;
      padding-right: 85px !important; } }

.plr-90 {
  padding-left: 45px !important;
  padding-right: 45px !important; }
  @media (min-width: 768px) {
    .plr-90 {
      padding-left: 90px !important;
      padding-right: 90px !important; } }

.plr-95 {
  padding-left: 47.5px !important;
  padding-right: 47.5px !important; }
  @media (min-width: 768px) {
    .plr-95 {
      padding-left: 95px !important;
      padding-right: 95px !important; } }

.plr-100 {
  padding-left: 50px !important;
  padding-right: 50px !important; }
  @media (min-width: 768px) {
    .plr-100 {
      padding-left: 100px !important;
      padding-right: 100px !important; } }

body {
  font-family: 'Roboto', sans-serif; }

.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both; }
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

.relative-box {
  position: relative; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4,
.col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10,
.col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12,
.col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7,
.col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0%; } }
/*  Bootstrap Clearfix */
/*  Tablet  */
@media (min-width: 767px) {
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1) {
    clear: none; }

  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1) {
    clear: left; } }
/*  Medium Desktop  */
@media (min-width: 992px) {
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1) {
    clear: none; }

  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1) {
    clear: left; } }
/*  Large Desktop  */
@media (min-width: 1200px) {
  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1) {
    clear: none; }

  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1) {
    clear: left; } }
.task-box {
  height: 60px;
  border: 1px solid #d4d4d4;
  padding: 10px;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  background-color: white; }
  .task-box.blue {
    border-left: 3px solid #0184c8; }
  .task-box.green {
    border-left: 3px solid #81be4b; }
  .task-box__title {
    color: #242020; }
  .task-box__target {
    color: #a7a6a1; }

.bg__grey--light {
  background-color: #f2f2f2; }

#calendar {
  background-color: white;
  border: 1px solid #d4d4d4;
  margin-bottom: 15px;
  min-height: 150px; }
  #calendar .label {
    background-color: #ff6425;
    color: white;
    padding: 10px 15px;
    text-align: center; }
  #calendar .contents {
    padding: 15px; }

/*# sourceMappingURL=style.css.map */
